<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
<div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
       <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
       <br><br>
       <span style="font-size:25px"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px"><b>Mr Deepak Joshi</b></span><br/><br/>
       <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
       <span style="font-size:30px">Python Full Stack</span> <br/><br/>
       <span style="font-size:20px">with score of <b>Grade A</b></span> <br/><br/><br/><br/>
       <span style="font-size:30px"><b>From Qubist Tech pvt.ltd.</b></span><br/><br/>
       <span style="font-size:25px"><i>Dated</i></span><br>
      August 10, 2021
      <span style="font-size:30px"></span>
</div>
</div>
<span style="font-size:30px"><b>Qubist Tech</b></span><br/><br/>