<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<h1> Add a new Name</h1>
<form method="post" action="/list">
    <p>
    Name:
    <input type="text" name="Name" id="Name" placeholder="30">
</p>
<p>
    Grade:
    <input type="text" name="Grade" id="Grade" >
</p>
<p>
    Date:
    <input type="text" name="Date" id="Date" >
</p>
<p>
    Course:
    <input type="text" name="Course" id="Course" >
</p>
    <p>
    Duration:
    <input type="text" name="Duration" id="Duration" >
    </p>

<button type="submit">Save</button>
</form>
<a href="/Templates/slow.html">Get Certificate</a>


</body>
</html><!DOCTYPE html>