<html >
<head>

    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=1" >
    <title>certificate</title>
</head>
<body>
<div class="one">
<div class="container">
    <div class="column1">
        <h4>  Qubist Tech
        </h4>
        <p class="five">
    Office Address : Meena Bazar, Lohaghat, Uttarakhand <br>
    </div>
    <div class="column2">
        <p>
            <img src="/static/Qubitech 1.jpg" height="66px" width="60px"></p>

        <p class="three"> Welcome to the Future</p>
    </div>

   </div>
    <h1> Certificate of Completion</h1>
    <p class="six"> This Certificate is awarded to </p> <br>
    <p class="four">{{param.Name}}</p>



    <div class="line2"></div>
    <p class="ten"> for successfully completing the {{param.Duration}} course on <br>
        <b> {{param.Course}} </b> <br>
    Awarded on the {{param.Date}}, 2021 with grade {{param.Grade}}</p>
    <div class="line1"></div>
    <h3> Deepak Chandra</h3>
    <p class="two"> DIRECTOR</p>




</div>
</body>
</html>
